#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(12,15,27,0.8);
}

.loader-on{
    visibility: visible;
    opacity: 1;
}
.loader-off{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s;
}

#loader-box{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader-ball{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(67,212,240,1) 0%, rgba(67,212,240,0) 50%);
}

.loader-on #loader-ball{
    animation: animacion-loader 1s infinite linear;
}
.loader-on #loader-box p{
    animation: animacion-loader2 5s infinite ease-in-out;
}
@keyframes animacion-loader{
    0%{
        transform: rotate(0deg) scale(1);
        box-shadow: 0px 0px 5px 0px rgba(67,212,240,0.3);
    }
    50%{
        transform: rotate(180deg) scale(1.2);
        box-shadow: 0px 0px 10px 0px rgba(67,212,240,0.3);
    }
    100%{
        transform: rotate(360deg) scale(1);
        box-shadow: 0px 0px 5px 0px rgba(67,212,240,0.3);
    }
}
@keyframes animacion-loader2{
    0%,100%{
        color: rgba(255,255,255,1);
    }
    50%{
        color: rgba(67,212,240,1);
    }
}

#loader-mask{
    position: absolute;
    width: 100%;
    width: calc(100% - 5px);
    width: -moz-calc(100% - 5px);
    height: calc(100% - 5px);
    height: -moz-calc(100% - 5px);
    top: 2.5px;
    left: 2.5px;
    background-color: #0c0f1b;
    border-radius: 50%;
}

#loader-box p{
    position: relative;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
}