.login-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    align-items: stretch;
    background-color: #0c0f1b;
}

.login-hidden-menu{
    width: 10%;
    height: auto;    
}

.login-section{
    position: relative;
    width: 40%;
    height: auto;
    background-color: #101322;
    justify-content: center;
    border-left: #1f2937 solid 2px;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,1);
}

.login-title{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 900;
}

.login-subtitle{
    font-size: 1rem;
    color: rgba(255,255,255,0.5);
}

.login-form-group{
    position: relative;
    width: 100%;
    padding-top: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.login-form-group label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    color: #ffffff;
    font-size: 1rem;
    height: auto;
    left: 20px;
    top: 50%;
    top: calc(25px + 30px);
    top: -moz-calc(25px + 30px);
    transform: translateY(-50%) scale(1);
    pointer-events: none;
    transform-origin: left center;

    transition: top 0.15s, left 0.15s, transform 0.15s;
}
.login-form-group input[type=text],
.login-form-group input[type=password]{
    background-color: #1c1d27;
    border: #3b3f54 solid 2px;
    color: #ffffff;
    height: 60px;
    border-radius: 6px;

    box-shadow: 0px 0px 0px 0px rgba(51,209,238,0);

    transition: border 0.25s, box-shadow 0.25s;
}

.login-form-group-ready input[type=password],
.login-form-group-ready input[type=text]{
    box-shadow: 0px 0px 0px 0px rgba(51,209,238,0);
}

.password-status-btn{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25px;
    right: 0px;
    background-color: transparent;
    border: none;
}
.password-status-btn i{
    font-size: 1.5rem;
    color: #9da1b9;
}
.password-status-btn-hide i:first-child{display: block;}
.password-status-btn-hide i:last-child{display: none;}
.password-status-btn-show i:first-child{display: none;}
.password-status-btn-show i:last-child{display: block;}

.login-form-group-over label,
.login-form-group-ready label{
    left: 0px;
    top: 0px;
    transform: translateY(0%) scale(0.75);
}

.login-form-group-over input[type=text],
.login-form-group-over input[type=password]{
    box-shadow: 0px 0px 10px 0px rgba(51,209,238,0.75);
    border: #33d1ee solid 2px;
}

.login-forgot{
    font-size: 1rem;
}
.login-forgot,
.login-forgot:hover{
    color: #1337ec;
}

.login-message-off,
.login-message-on,
.login-message{
    position: relative;
    width: 100%;
    height: auto;
}

.login-message{
    height: auto;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #261825;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    padding: 15px;
}
.login-message-off{
    margin: 0px;
    max-height: 0px;
    transition: margin 0.15s, max-height 0.15s;
}
.login-message-on{
    margin: 15px 0px;
    max-height: 100px;
    transition: margin 0.25s, max-height 0.25s;
}

.login-message i{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}
.login-message span{
    display: block;
    width: auto;
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    font-family: 'Inter';
    font-size: 0.9rem;
}

.login-message-error .login-message{
    border: #8b2d34 solid 1px;    
}
.login-message-error i,.login-message-error span{
    color: #ef4444;
}
.login-message-error i{
    border-color: #ef4444;
}

.login-btn{
    width: 100%;
    height: 60px;
    background-color: rgba(19,55,236,0);
    overflow: hidden;
    border-radius: 6px;
    border-color: #1337ec;
    border-style: solid;
    border-width: 2px;
    padding: 0px 20px;

    transition: border-color 0.25s, opacity 0.25s, box-shadow 0.25s;
}
.login-btn span{
    position: relative;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;

    transition: color 0.25s;
}
.login-btn::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #1337ec;
    opacity: 0.25;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    transition: width 0.25s, height 0.25s, opacity 0.25s;
}

.login-btn:enabled:hover::before{
    width: 100%;
    width: calc(100% + 5px);
    width: -moz-calc(100% + 5px);
    height: 500px;
    opacity: 1;
}

.login-btn:disabled{
    cursor: not-allowed !important;
    border-color: rgba(255,255,255,0.5) !important;
}
.login-btn:disabled span{
    color: rgba(255,255,255,0.5);
}

.particles-container{
    width: 50%;
    height: auto;
    overflow: hidden;
    position: relative;
}
#particles-video{
    pointer-events: none;
    width: auto;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}
.particles-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #17a2b8;
    mix-blend-mode: multiply;
}