#menu-lateral-container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 302px;
    height: 100%;
    background-color: #101322;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-right: #1f2937 solid 2px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,1);

    transition: left 1s, filter 1s;
}
.menu-lateral-open{
    left: 0px;
    filter: blur(0px);
}
.menu-lateral-close{
    left: -302px;
    filter: blur(20px);
}
.menu-lateral-coltop,
.menu-lateral-colbot{
    position: relative;
    width: 100%;
}

.menu-lateral-logo{
    position: relative;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}
.menu-lateral-logo img{
    width: 40px;
    height: auto;
    margin-right: 10px;
}
.menu-lateral-logo h1{
    display: block;
    width: auto;
    width: calc(100% - (50px + 40px));
    width: -moz-calc(100% - (50px + 40px));
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 600;
}

.menu-lateral-back-btn{
    position: relative;
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
}
.menu-lateral-back-btn::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(19,51,62,1);
    transition: width 0.25s, height 0.25s;
}
.menu-lateral-back-btn i{
    font-size: 1rem;
    color: #ffffff;
    position: relative;
}
.menu-lateral-back-btn:hover::before{
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

#menu-lateral{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#menu-lateral li{
    display: block;
    width: 100%;
    height: auto;
}
.menu-lateral-btn{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px;
}
.menu-lateral-btn::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background-color: #1337ec;
    opacity: 0.2;
    transform: translate(-50%,-50%);

    transition: width 0.25s, height 0.25s, opacity 0.25s;
}
.menu-lateral-btn > i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 1.3rem;
    color: #9ca3af;

    transition: color 0.25s;
}
.menu-lateral-btn > span{
    position: relative;
    display: block;
    width: auto;
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    font-size: 1rem;
    font-weight: 600;
    color: #9ca3af;

    transition: color 0.25s;
}

.menu-lateral-btn:hover::before,
.menu-lateral-btn-active::before{
    width: 100%;
    width: calc(100% + 5px);
    width: -moz-calc(100% + 5px);
    height: 200px;
    opacity: 0.2;
}
.menu-lateral-btn:hover span,
.menu-lateral-btn:hover i,
.menu-lateral-btn-active span,
.menu-lateral-btn-active i{
    color: #4362ff;
}
          
.menu-lateral-profile{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 0px;

    border-top: #1f2937 solid 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-photo{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee4cd;
    overflow: hidden;
    margin-right: 10px;
}
.profile-photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.profile-info{
    display: block;
    width: auto;
    width: calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    height: auto;
}

.profile-info-name{
    color: #ffffff;   
    font-size: 1rem;
    margin-bottom: 5px;
}
.profile-info-email{
    color: rgba(255,255,255,0.5);
    font-size: 0.9rem;
    margin-top: 5px;
}