body,html{
    margin: 0px;
    padding: 0px;
}
button{
    outline: none;
    outline-width: 0;
    position: relative;
    cursor: pointer;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
    line-height: normal;
    text-align: left;
    font-weight: normal;
    font-family: 'Inter';
}
label{
    font-family: 'Inter';
}

form{
    display: block;
    width: 100%;
    margin: 0px;
}
input[type=text],
input[type=password]{
    display: block;
    position: relative;
    outline: none;
    outline-width: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: normal;
    line-height: normal;
    text-align: left;
    border-radius: 6px;
}

div,section{
    box-sizing: border-box;
}

a{
    display: block;
}
a,a:hover,a:active,a:visited{
    text-decoration: none;
    color: initial;
    font-family: 'Inter';
    font-weight: normal;
    line-height: normal;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.p-1{padding: 5px;}
.p-2{padding: 10px;}
.p-3{padding: 15px;}
.p-4{padding: 20px;}
.p-5{padding: 25px;}
.p-6{padding: 30px;}
.p-7{padding: 35px;}
.p-8{padding: 40px;}
.p-9{padding: 45px;}
.p-10{padding: 50px;}

.px-1{padding-left: 5px; padding-right: 5px;}
.px-2{padding-left: 10px; padding-right: 10px;}
.px-3{padding-left: 15px; padding-right: 15px;}
.px-4{padding-left: 20px; padding-right: 20px;}
.px-5{padding-left: 25px; padding-right: 25px;}
.px-6{padding-left: 30px; padding-right: 30px;}
.px-7{padding-left: 35px; padding-right: 35px;}
.px-8{padding-left: 40px; padding-right: 40px;}
.px-9{padding-left: 45px; padding-right: 45px;}
.px-10{padding-left: 50px; padding-right: 50px;}

.pl-1{padding-left: 5px;}
.pl-2{padding-left: 10px;}
.pl-3{padding-left: 15px;}
.pl-4{padding-left: 20px;}
.pr-80{padding-right: 80px;}

.my-1{margin-bottom: 5px; margin-top: 5px;}
.my-2{margin-bottom: 10px; margin-top: 10px;}
.my-3{margin-bottom: 15px; margin-top: 15px;}
.my-4{margin-bottom: 20px; margin-top: 20px;}
.my-5{margin-bottom: 25px; margin-top: 25px;}
.my-6{margin-bottom: 30px; margin-top: 30px;}
.my-7{margin-bottom: 35px; margin-top: 35px;}

.mb-1{margin-bottom: 5px;}
.mb-2{margin-bottom: 10px;}
.mb-3{margin-bottom: 15px;}
.mb-4{margin-bottom: 20px;}
.mb-5{margin-bottom: 25px;}
.mb-6{margin-bottom: 30px;}
.mb-7{margin-bottom: 35px;}

.container{
    position: relative;
    width: 100%;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}